## Time Series Data

In [5]:
import pandas as pd

df = pd.read_csv('./ETH_1H.csv')
df

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume
0,1586995200000,2020-04-16 00:00:00,ETHUSD,152.94,152.94,150.39,150.39,650.188125
1,1586991600000,2020-04-15 23:00:00,ETHUSD,155.81,155.81,151.39,152.94,4277.567299
2,1586988000000,2020-04-15 22:00:00,ETHUSD,157.18,157.30,155.32,155.81,106.337279
3,1586984400000,2020-04-15 21:00:00,ETHUSD,158.04,158.31,157.16,157.18,55.244131
4,1586980800000,2020-04-15 20:00:00,ETHUSD,157.10,158.10,156.87,158.04,144.262622
...,...,...,...,...,...,...,...,...
34492,1462813200,2016-05-09 17:00:00,ETHUSD,9.83,9.83,9.48,9.49,329.553213
34493,1462809600,2016-05-09 16:00:00,ETHUSD,9.99,9.99,9.79,9.83,62.379450
34494,1462806000,2016-05-09 15:00:00,ETHUSD,10.00,10.00,9.99,9.99,10.973567
34495,1462802400,2016-05-09 14:00:00,ETHUSD,9.55,10.00,9.55,10.00,235.774075
34496,1462798800,2016-05-09 13:00:00,ETHUSD,0.00,12.00,0.00,9.55,432.562115

In [24]:
# df.loc[0, 'Date'].day_name() # error

df['Date'] = pd.to_datetime(df['Date'])
df.loc[0, 'Date'].day_name()

df = pd.read_csv('./ETH_1H.csv', parse_dates=['Date'])
df.loc[0, 'Date'].day_name()
df['Date'].dt.day_name()
df

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume
0,1586995200000,2020-04-16 00:00:00,ETHUSD,152.94,152.94,150.39,150.39,650.188125
1,1586991600000,2020-04-15 23:00:00,ETHUSD,155.81,155.81,151.39,152.94,4277.567299
2,1586988000000,2020-04-15 22:00:00,ETHUSD,157.18,157.30,155.32,155.81,106.337279
3,1586984400000,2020-04-15 21:00:00,ETHUSD,158.04,158.31,157.16,157.18,55.244131
4,1586980800000,2020-04-15 20:00:00,ETHUSD,157.10,158.10,156.87,158.04,144.262622
...,...,...,...,...,...,...,...,...
34492,1462813200,2016-05-09 17:00:00,ETHUSD,9.83,9.83,9.48,9.49,329.553213
34493,1462809600,2016-05-09 16:00:00,ETHUSD,9.99,9.99,9.79,9.83,62.379450
34494,1462806000,2016-05-09 15:00:00,ETHUSD,10.00,10.00,9.99,9.99,10.973567
34495,1462802400,2016-05-09 14:00:00,ETHUSD,9.55,10.00,9.55,10.00,235.774075
34496,1462798800,2016-05-09 13:00:00,ETHUSD,0.00,12.00,0.00,9.55,432.562115

## <span style="color:skyblue">Exercise</span>
- Create a new column called DayOfWeek

## Working with Dates

In [29]:
df['Date'].min()
df['Date'].max()
df['Date'].min() - df['Date'].max()

Timedelta('-1438 days +13:00:00')

## Filtering by Dates

In [43]:
filt = (df['Date'] > '2019') & (df['Date'] < '2020')
df.loc[filt]
# filt2 = df['Date'] >= pd.to_datetime('2019-01-01')
# df.loc[filt2]

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume
2545,1577833200000,2019-12-31 23:00:00,ETHUSD,128.68,128.85,127.82,128.84,857.650259
2546,1577829600000,2019-12-31 22:00:00,ETHUSD,128.40,128.93,127.77,128.68,3050.507350
2547,1577826000000,2019-12-31 21:00:00,ETHUSD,127.87,128.41,127.81,128.40,447.680372
2548,1577822400000,2019-12-31 20:00:00,ETHUSD,127.86,128.30,127.86,127.87,151.711128
2549,1577818800000,2019-12-31 19:00:00,ETHUSD,128.78,128.78,127.86,127.86,2450.933248
...,...,...,...,...,...,...,...,...
11296,1546318800000,2019-01-01 05:00:00,ETHUSD,132.09,132.53,132.09,132.28,515.501945
11297,1546315200000,2019-01-01 04:00:00,ETHUSD,130.83,133.75,130.83,132.09,1035.840465
11298,1546311600000,2019-01-01 03:00:00,ETHUSD,129.79,131.00,129.79,130.83,1307.299291
11299,1546308000000,2019-01-01 02:00:00,ETHUSD,130.98,130.98,129.25,129.79,837.808380
11300,1546304400000,2019-01-01 01:00:00,ETHUSD,131.10,131.10,128.72,130.98,965.092541

## Resampling

In [91]:
import numpy as np
# set date as index
# df.set_index('Date')
df['2017': '2019']['Open'].mean()

highs = df['High'].resample('D').max() # get the high of each day rather than each hour
# highs.plot()

# resample multiple columns
df.resample('W').agg({"Close": 'mean', 'High': 'max', 'Volume': 'sum'})

                 Close    High         Volume
Date
2016-05-15   10.205290   12.00   10988.942273
2016-05-22   13.066964   14.77   40673.495362
2016-05-29   12.471012   14.43   58051.809091
2016-06-05   13.594583   16.05   47351.544496
2016-06-12   14.297798   15.75   52002.171838
...                ...     ...            ...
2020-03-22  124.636012  153.17  439980.283707
2020-03-29  133.285893  144.14  230941.584515
2020-04-05  137.627440  150.32  151022.864981
2020-04-12  163.693929  176.74  204715.937994
2020-04-19  156.778219  162.15   50776.889638

[206 rows x 3 columns]